@page "/"

<PageTitle>Music</PageTitle>
<div class="music-container">
    <div class="player">
        <div class="nowplaying">
            <div class="artist">Arctic Monkeys</div>
            <div class="song">Flourescent Adolescent</div>
        </div>
        <div class="progress">
            <div class="played-time">0:01</div>
            <div class="played"></div>
            <div class="not-played"></div>
            <div class="not-played-time">-3.21</div>
        </div>
    </div>
</div>